body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}
.header {
  display: block;
  height: 400px;
  background-color: transparent;
}
#storage {
  min-height: 300px;
}
.idea-list {
  display: block;
  padding: 40px 0;
}
.idea-nugget {
  display: inline-block;
  padding: 0 100px;
  max-width: 200px;
}
.idea-nugget img {
  width: 100px;
  display: block;
  margin: auto;
}
.idea-nugget p {
  font-size: .9em;
}
#Hello {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
#inputForm {
  margin: auto;
  padding-bottom: 20px;
  width: 60%;
  text-align: center;
}
#inputForm h2 {
  font-size: 1.4em;
  margin: 0;
}
#inputForm input {
  display: block;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}
#inputForm button {
  display: inline-block;
  padding: 5px 20px;
  margin: 20px 5px 0 5px;
  font-size: 1.1em;
}
#inputForm .idea-name {
  margin-bottom: 20px;
}
#idea {
  border-bottom: 1px solid gray;
  outline: none;
  width: 30%;
  min-width: 200px;
  height: auto;
  margin: auto;
  padding: 2px;
  font-size: 1em;
  line-height: 1.2em;
  text-align: left;
}
.NewFolder {
  width: 20%;
  min-width: 200px;
  margin: 20px auto;
  padding: 50px;
  text-align: center;
  border: 2px solid #66BEFD;
}
.folderName input {
  border: 1px solid #CCCCCC;
  outline: none;
  text-align: center;
  font-size: 1.2em;
}
.createFolder {
  margin-top: 20px;
}
.createFolder input {
  width: 50%;
  min-width: 150px;
  height: auto;
  font-size: 2em;
}
